@font-face {
  font-family: "Public-Sans";
  src: local("Public-Sans"),
    url(./fonts/static/PublicSans-Regular.ttf) format("opentype");
}
* {
  font-family: Public-Sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
  /* overflow: auto; */
  /* scroll-behavior: smooth; */
}
/* html {
  scroll-behavior: smooth;
} */
*::-webkit-scrollbar {
  opacity: 0;
  width: 8px;
  cursor: pointer;
}
::-webkit-scrollbar:hover {
  opacity: 1;
  cursor: pointer;
}
*::-webkit-scrollbar-track {
  background: #f5f5f5;
  cursor: pointer;
}
*::-webkit-scrollbar-thumb {
  /* background: #96dfce; */
  background: #dcdcdc;
  /* background: #b3d48f; */
  cursor: pointer;
  border-radius: 10px;
  cursor: pointer;
}
*::-webkit-scrollbar-thumb:hover {
  /* background: #96dfce; */
  /* background: #b3d48f; */
  cursor: pointer;
}
.App {
  text-align: center;
}

.css-1s2u09g-control,
.css-b62m3t-container {
  width: 300px;
}

.css-10mzr36-MuiGrid-root > .MuiGrid-item {
  padding: 0px !important;
}

.display-none {
  display: none;
}

.w-0 {
  width: 0;
}
.MuiAutocomplete-inputRoot,
.__fc__gender .MuiInputBase-root {
  height: 45px;
}
/* .conversation-his-ctalog, .chat-msg-list {
  transition: all 0.2s ease !important;
  overflow: hidden !important;
}
.conversation-his-ctalog:hover, .chat-msg-list:hover {
  transition: all 0.2s ease !important;
  overflow: auto !important;
} */
.emoji-mart-bar:last-child {
  height: 10px;
}
.MuiInput-underline::before {
  content: "" !important;
  display: none;
}
#des-txtarea-desc .MuiDialog-paper {
  width: 100%;
}
legend {
  width: auto !important;
}

.items-center{
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid gray;
  border-color: gray transparent gray transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
