@font-face {
  font-family: "Public-Sans";
  src: local("Public-Sans"),
    url(./fonts/static/PublicSans-Regular.ttf) format("opentype");
}
* {
  font-family: Public-Sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
