.login-main {
    content: url("../assets/img/background-login.svg");
    background-repeat: no-repeat;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    // background-color: ;
}