// Here you can add other styles

.box-80 {
    height: 80%;
}


//search bar
.search-bar {
    background-color: #e8e8e8;
}



//grid style
.grid-header {
    font-weight: 500;
}

.grid-header-center {
    text-align: center;
}

.grid-header-right {
    text-align: right;
}
